:root {
    --gray-blue: #6b938e;
    --light: #cad7d5;
    --light-blue: #D0EEEA;
    --gray: #abadad;
}

@font-face {
    font-family: "Roboto Condensed", sans-serif;
    src: local("RobotoCondensed-Light"),
        url(../fonts/RobotoCondensed-Light.ttf) format("truetype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}



@font-face {
    font-family: "herobold";
    src: url("../fonts/hero-bold-webfont.woff2") format("woff2"),
        url("../fonts/hero-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hero Light Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Hero Light Regular"),
        url("../fonts/HeroLight-Regular.woff") format("woff");
}

@font-face {
    font-family: "heroregular";
    src: url("../fonts/hero-regular-webfont.woff2") format("woff2"),
        url("../fonts/hero-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.dropdown {
    position: absolute;
    top: 58px;
    width: 40%;
    transform: translateX(-45%);
    background-color: var(--light);
    color: var(--gray-blue);
    border-radius: 25px;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-start;
}

.drop-item {
    /* height:100px; */
    margin-right: 150px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 0.5rem;
    font-family: "Roboto Condensed", sans-serif;

}

.number {
    margin-left: 70px;
}

.quantity {
    display: flex;
    flex-direction: column;

}

.drop-item:hover {
    filter: brightness(1.2);
}

.cart-icon {
    width: 75px;
    border-radius: 50%;
    transition: filter 300ms;
    cursor: pointer;

}

.cart-icon:hover {
    filter: brightness(1.2);

}

.dropdown-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    background-color: var(--light);

    color: var(--gray-blue);
    border: none;

}

.message {
    /* padding-left: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-family: "herobold";
}