* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --gray-blue: #6b938e;
  --light: #cad7d5;
}

@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: local("RobotoCondensed-Light"),
    url(../fonts/RobotoCondensed-Light.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Square Peg", cursive;
  src: local("SquarePeg-Regular") url(../fonts/SquarePeg-Regular.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "herobold";
  src: url("../fonts/hero-bold-webfont.woff2") format("woff2"),
    url("../fonts/hero-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hero Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Hero Light Regular"),
    url("../fonts/HeroLight-Regular.woff") format("woff");
}

@font-face {
  font-family: "heroregular";
  src: url("../fonts/hero-regular-webfont.woff2") format("woff2"),
    url("../fonts/hero-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

ul {
  margin-top: 10px;
  width: 70%;
  list-style: none;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 15px;
}

.nav-bar {
  position: fixed;
  z-index: 1;
  top: 0px;

  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  flex-direction: row;
  min-height: 8vh;
  color: var(--light);
  font-family: "Roboto Condensed", sans-serif;
  /* font:local('RobotoCondensed-Light'); */

  background-color: var(--gray-blue);
  max-width: 1440px;
}

.second-half {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.logo {
  padding-left: 50px;
  padding-bottom: 15px;
  font-family: "herobold";
  /* font:local('SquarePeg-Regular'); */
  margin-top: 10px;
  color: #d0eeea;
  font-size: 25px;
  font-weight: 700;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #d0eeea;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .active {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 1024px) {}

@keyframes navLinks {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.sticky {
  position: fixed;
  text-decoration: none;
  display: flex;
  justify-content: space-around;

  flex-direction: row;
  min-height: 8vh;
  color: #d0eeea;
  font-family: "Poppins", sans-serif;
  background-color: #6fb8ae;

  top: 0;
  width: 100%;
  box-shadow: 0 0 10px #ccc;
}

.sticky+.site {
  padding-top: 102px;
}

.link {
  text-decoration: none;
  color: #d0eeea;
  font-family: "heroregular";
}