body {
  margin: 0;
}

:root {
  --gray-blue: #6b938e;
  --light: #cad7d5;
  --gray: #abadad;
}

@font-face {
  font-family: "herobold";
  src: url("./fonts/hero-bold-webfont.woff2") format("woff2"),
    url("./fonts/hero-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hero Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Hero Light Regular"),
    url("./fonts/HeroLight-Regular.woff") format("woff");
}

@font-face {
  font-family: "heroregular";
  src: url("./fonts/hero-regular-webfont.woff2") format("woff2"),
    url("./fonts/hero-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: local("RobotoCondensed-Light"),
    url(./fonts/RobotoCondensed-Light.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.home-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 600px;
  background-color: var(--gray-blue);
}

.img-home1 {
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  border-radius: 15px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.home-half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-title {
  font-family: "herobold";
  font-weight: 700;
  font-size: 34px;
  color: var(--light);
  margin-bottom: 20px;
  padding-left: 70px;
  padding-top: 100px;
}

.border {
  border: 2px solid var(--light);
  border-style: dashed;
  width: 350px;
  height: 350px;
  margin-right: 30px;
  border-radius: 50%;
  z-index: 1;

}

.about-box {
  margin-top: 100px;
  margin-left: 35px;
  position: absolute;
  width: 300px;
  height: 280px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top: 60px;
  z-index: 0;
}

.border:hover {
  filter: brightness(1.2);
  animation: rotate 20s linear infinite;

}

.about-us {
  padding-right: 30px;
  color: var(--light);
  font-family: "heroregular";

  font-size: 20px;
}

.big-home-box {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffff;

}

.second-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  padding-bottom: 30px;
}

.news-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 70%;
  height: 50%;
  gap: 15px;
  background-image: url("https://images.unsplash.com/photo-1555505019-8c3f1c4aba5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  font-family: "herobold";
  color: #ffff;
  border-radius: 15px;
}

.subscribe {
  padding-right: 50px;
  padding-bottom: 5px;
}

.sub-text {
  padding-right: 50px;
}

.btn-3 {
  background-color: transparent;
  border: 2px solid #ffff;
  font-family: "herobold";
  color: #ffff;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  border-radius: 15px;
  margin-right: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 664px) {
  .first-row {
    width: 100vw;
    height: 80vh;
    flex-direction: row;
    gap: 0;
  }

  .about-us {
    margin-right: 40px;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }

  .border {
    width: 50vw;
    height: 30vh;
  }

  .big-home-box {
    overflow-y: scroll;
  }

  .subscribe {
    font-size: 18px;
    padding-right: 10px;
  }

  .sub-text {
    font-size: 15px;
    padding-right: 10px;
  }
}