body {
  margin: 0;
}

:root {
  --gray-blue: #6b938e;
  --light: #cad7d5;
  --gray: #abadad;
}

@font-face {
  font-family: "herobold";
  src: url("./fonts/hero-bold-webfont.woff2") format("woff2"),
    url("./fonts/hero-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hero Light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Hero Light Regular"),
    url("./fonts/HeroLight-Regular.woff") format("woff");
}

@font-face {
  font-family: "heroregular";
  src: url("./fonts/hero-regular-webfont.woff2") format("woff2"),
    url("./fonts/hero-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed", sans-serif;
  src: local("RobotoCondensed-Light"),
    url(./fonts/RobotoCondensed-Light.ttf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.home-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 600px;
  background-color: var(--gray-blue);
}

.img-home1 {
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  border-radius: 15px;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.home-half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.home-title {
  font-family: "herobold";
  font-weight: 700;
  font-size: 34px;
  color: var(--light);
  margin-bottom: 20px;
  padding-left: 70px;
  padding-top: 100px;
}

.border {
  border: 2px solid var(--light);
  border-style: dashed;
  width: 350px;
  height: 350px;
  margin-right: 30px;
  border-radius: 50%;
  z-index: 1;

}

.about-box {
  margin-top: 100px;
  margin-left: 35px;
  position: absolute;
  width: 300px;
  height: 280px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-top: 60px;
  z-index: 0;
}

.border:hover {
  filter: brightness(1.2);
  animation: rotate 20s linear infinite;

}

.about-us {
  padding-right: 30px;
  color: var(--light);
  font-family: "heroregular";

  font-size: 20px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}